NODE_ENV=development
PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/donor"
JWT_ACCESS_SECRET="replace-with-a-long-random-access-secret-min-32-chars"
JWT_REFRESH_SECRET="replace-with-a-long-random-refresh-secret-min-32-chars"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"
REDIS_URL="redis://localhost:6379"
API_URL="http://localhost:3001"
WEB_URL="http://localhost:3000,http://localhost:3002,http://localhost:3003"
MOBILE_DEEP_LINK="donor://"
THROTTLER_TTL=60
THROTTLER_LIMIT=100
AI_API_KEY=""
MAP_API_KEY=""
EXPO_ACCESS_TOKEN=""
FCM_SERVER_KEY=""
APNS_KEY_ID=""
